<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login">Preferred email:</label>
    <input class="signup-user" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Preferred Password:</label>
    <input class="signup-password" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign Up </button>
  </div>
</form>

<script src="/Develop-project/public/js/signup.js"></script>